.header {
    color: rebeccapurple;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
}

.header:hover {
    color: rgb(202, 0, 34);
}

.loop_concept {
    padding-left: 5rem;
}