.header {
    color: rebeccapurple;
    /* text-align: center; */
    text-transform: uppercase;
    top: 50%;
}
.signup-from h2{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}
.signup-from{
padding: 1px 200px;
}
.heading {
    padding: 30px 60px;
}
.multiArray {
    padding: 4px 40px;
}


.loop_concept {
    padding-left: 5rem;
}

input[type="text"] {
    padding: 1px;
    margin-bottom: 14px;
}
.form_area{
    padding: 42px;
}
.login-from,.signup-from  {
    box-shadow: 0px 5px 45px 11px #ccc;
    padding: 3rem 17rem 1rem 16rem;
    background-color: aliceblue;
}
.footer{
    margin-top: 14rem;
background-color: rgb(53, 151, 236);
text-align: center;
color: white;
padding: 10px;
font-weight: 700;
}
.bg-dark {
    background-color: #3597ec!important;
}
.bg-green{
    background-color: #8fe68c;
    border-radius: 10px;
    padding-top: 31px;
}